BasedOnStyle: LLVM
Standard: Cpp11
Language: Cpp

# 用法：find . -regex '.*\.\(cpp\|hpp\|cc\|cxx\)' -exec clang-format -i {} \;

PointerAlignment: Right # e.g., int *f
AlignAfterOpenBracket: Align # 长函数名的参数对齐
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignEscapedNewlines: Left
AlignOperands: Align
UseTab: Never
IndentWidth: 2
AccessModifierOffset: -2
AllowShortIfStatementsOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AlwaysBreakTemplateDeclarations: Yes
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
AlwaysBreakAfterReturnType: None
AllowAllArgumentsOnNextLine: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
ColumnLimit: 100
Cpp11BracedListStyle: true
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentWrappedFunctionNames: false